* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "SFProText Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

#tags button {
  padding: 2px;
  color: #fdf6e3;
  border-radius: 8px;
}

#tags button:hover {
  padding: 2px;
  box-shadow: inherit;
  text-shadow: inherit;
  background: rgba(33, 23, 29, 0);
  color: #d81e5b;
}

#tags button.focused {
  border: 2px solid #636363; /*base02*/
}

#tags button.occupied {
  padding: 2px;
  color: #548a98;
}

#mode {
  border-bottom: 3px solid #ffffff;
}

#backlight,
#battery,
#clock,
#cpu,
#mpris,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#tags,
#temperature,
#tray {
  background-color: rgba(33, 23, 29, 0.6);
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 10px;
  padding: 0 8px;
  margin: 0 4px;
  color: #fdf6e3;
}

#battery.charging {
  animation-name: blink;
  background-color: #6a8d73;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #fdf6e3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  color: #dc2e6a;
}

#custom-media {
  min-width: 100px;
  border-radius: 10px;
  color: #fdf6e3;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #E8C547;
  color: #2d3436;
}

window#waybar {
  background-color: rgba(33, 23, 29, 0);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 1;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/
